**/bundle
**/coverage
**/dist
**/.git
**/node_modules
.docker
.DS_Store
.obsidian/
.env
.gemini/
.idea
.integration-tests/
*.iml
*.tsbuildinfo
*.vsix
bower_components
eslint.config.js
**/generated
gha-creds-*.json
junit.xml
Thumbs.db
.pytest_cache
opencode/
open-interpreter/
packages/desktop/src-tauri/target/
packages/desktop/src-tauri/gen/
.opencode-openai/
.turbo
